.columns_s4 .col-sm-4 {
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer; 
  padding:10px 0;
}
.columns_s4 .col-sm-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.columns_s4 .col-md-4 {
  /*margin-bottom: 20px;*/
  padding:0 0;
  margin-bottom:10px;
  border: 2px solid rgba(85,135,237,.5);
  border-radius: 10px;
  text-align: center;
  cursor: pointer; 
}


.columns_s4 .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.row .box_active{
  box-shadow: 0px 0px 10px #000;
  background-image:linear-gradient(45deg,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
  /* box-shadow : [inset] [h-shadow] [v-shadow] [blur] [spread] */
}

.row img{
  padding:5px; /* padding을 이용해서 그림자 효과 시 답답한 경우 해제 */
}