.search_block{
	/*border:1px solid #1478FF;*/
	margin:20px 0;
	padding:5px;
}

.seach_block .box_active{
  box-shadow: 0px 0px 10px #000;
  background-image:linear-gradient(45deg,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
  /* box-shadow : [inset] [h-shadow] [v-shadow] [blur] [spread] */
}
