
.stat_block{
    background-image: -webkit-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,right top,right top,from(rgba(196,222,255,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;  
    width:200px;
    height:200px;
}	

.stat_block.box_active{
	cursor:pointer;
	box-shadow: 0px 0px 10px #000;
	background-image:linear-gradient(45deg,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
	/* box-shadow : [inset] [h-shadow] [v-shadow] [blur] [spread] */
}

.stat_container{
	margin:80px 0;
}

.info_container, .lab_container, .sample_container{
	margin:50px 0;
}

.menu_title{
	margin-top:70px;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
}

.menu_body{
	text-align:center;
    font-family: arial;
    font-size: 30pt;
    font-weight: bold;
    /*text-shadow:2px 2px 2px #000000;*/
}

