body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top:200px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100% ;
  height: 600px ;
}

/* carousel gradient 변경 */
.carousel-control.left{
    background-image: -webkit-linear-gradient(left,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(85,135,237,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;  
}
.carousel-control.right{
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0, rgba(85,135,237,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(85,135,237,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001),to(rgba(85,135,237,.5))));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(85,135,237,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;  
}

.no-js .back-to-top {
    display: none;
}