/* File upload 관련한 부분 =========== */

.filebox{
	position:relative;
	width:200px;
	height:100px;
}

input.upload {  
  opacity: 0;       /*input type="file" tag 투명하게 처리*/
  position: relative;
  width:100%;
  height:100%;
}

button.replace {    /*button tag 에 원하는 스타일 적용*/
	top:0px;
	
  width:100%;
  height:100%;
  position: absolute;
  border-radius: 3px;
  font-weight: 600;
  border-color: transparent;
  font-size: 25px;
  /*background-color: rgb(18, 63, 144);*/
  color: #fff;
  cursor: pointer;
}

/* =================== */

/*
file.upload{
	top:0px;
	position:absolute;
}*/


.picture_grid_container{
	margin-top:100px;
}

#plus_block{ /* p1 에서 가져온 것 */ 
    background-image: -webkit-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,right top,right top,from(rgba(196,222,255,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;  
}

.lab_button_modal{
	width:auto;
	margin-bottom: 20px;
}

.col-sm-4{
	    /* margin-bottom: 20px; */
    padding: 0 0;
    margin-bottom: 10px;
    border: 2px solid rgba(85,135,237,.5);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.box_active{
  cursor:pointer;
  box-shadow: 0px 0px 10px #000;
  background-image:linear-gradient(45deg,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
  /* box-shadow : [inset] [h-shadow] [v-shadow] [blur] [spread] */
}

.block{
	padding:10px 0;
}

.lab_sanger_modal_close{
	margin-top:5px;
}