@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato);
/*@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
*/

/*body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select{margin:0;padding:0;font-weight:normal}*/
/*body,input,textarea,select,button,table{
	font-family:Avenir,'Lato',"나눔바른고딕",NanumBarunGothic,"나눔고딕",NanumGothic,"맑은 고딕","Malgun Gothic","돋움",dotum,AppleGothic,sans-serif;font-size:12px;-webkit-text-size-adjust:none
}*/
/*
legend{
	font-family:'NanumSquare', sans-serif;
	font-weight:800;
}
*/
/*
body{
	font-family: 'Nanum Barun Gothic', sans-serif;
}
*/
.table_reform {
	width:100%;
	float:right;
}

.button_reform{
	margin:5px 0 5px 5px;
	/*margin:5px;*/
}

.table_right{
	float:right !important;
}

.navbar_reform{
	z-index:1041; /* 이유는 모르겠지만 background가 잡아먹는 크기가 1040임 */
	border-radius: 0px;
}

#loginModal{
	 background: url('../images/bg_login_2.jpg') no-repeat center; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-szie:cover;
	background-size:cover;
}

.main-header-area{
	margin-bottom:30px;
}

.no-decoration{
	color:black;
	text-decoration:none;
}